[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
starlette = "*"
gunicorn = "*"
motor = "*"
pydantic_settings = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
python-multipart = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
httpx = "*"
pre-commit = "*"

[requires]
python_version = "3.13"

[scripts]
start = "uvicorn app.main:app --reload --host 0.0.0.0 --port 8888"
para_test = "pytest -n auto"
test = "pytest"
pre-commit = "pre-commit run --all-files"
